*.o
*.exe
.vscode
*.str
numerics/results
*.sav
*.rcl
*.cll
*.coli
numerics/main
numerics/src/color
numerics/src/eikonal
*.synctex.gz
numerics/compute_CC
numerics/src/tinyxml2
*.log
numerics/src/amplitude
*.gz
numerics/references/arXiv-hep-ph0112081v1
*.pdf
numerics/references
form/soft2l/Dipole/diagrams/topologies
form/soft2l/Dipole/IBP/sectormappings
form/soft2l/Dipole/IBP/results
*.aux
*.toc
numerics/example
numerics/example.cpp
*.fdb_latexmk
*.fls
*.out
form/soft2l/Dipole/Dipole/diagrams/diags
numerics/mathematica/triple_collinear/*.m
numerics/mathematica/quadruple_collinear/gluon_parent/*.cpp
numerics/mathematica/quadruple_collinear/quark_parent/*.cpp
numerics/mathematica/collinear/output
numerics/mathematica/triple_collinear/SplittingFunctions
