*.o
*.exe
.vscode
*.str
numerics/results
*.sav
*.rcl
*.cll
*.coli
numerics/main
numerics/src/color
numerics/src/eikonal
*.synctex.gz
numerics/compute_CC
numerics/src/tinyxml2
*.log
numerics/src/amplitude
*.gz
numerics/references/arXiv-hep-ph0112081v1
*.pdf
numerics/references
form/soft2l/diagrams/topologies
form/soft2l/IBP/sectormappings
form/soft2l/IBP/results
*.aux
*.toc
numerics/example
numerics/example.cpp
*.fdb_latexmk
*.fls
*.out
form/soft2l/diagrams/diags
numerics/mathematica/triple_collinear/*.m
